.chatList-page-component {
    width: 100%;
    direction: rtl;
    .chatList-wrapper {
        .title-text {
            font-family: IRANSans;
            font-size: 20px;
            padding: 18px;
        }
        .chatList-section {
        }
    }
}
