
        .radio-component {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          justify-content: space-around;
          font-family: IRANSans;
          margin-bottom: 46px;
            .radio {
              width: 16px;
              height: 16px;
              border-radius: 50px;
              border: 1px solid #408cff;
              background-color: #408cff;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              display: flex;
              transition: .2s;
              &.--off {
                border: 1px solid #121314;
                background-color: #ffffff;
                }
                .radio-small {
                  width: 6px;
                  height: 6px;
                  border-radius: 50px;
                  align-items: center;
                  border: 1px solid #ffffff;
                  background-color: #ffffff;
                  transition: .2s;          
        }
      }
    }
