@import "Media.scss";

.chat-panel-component {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    .chat-wrapper {
        @include large-desktop {
            width: 1200px;
            height: 80%;
        }
        @include desktop {
            width: 80%;
            height: 80%;
        }
        @include small-desktop {
            width: 80%;
            height: 80%;
        }
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 85px;
        background-color: rgba(240, 238, 238, 0.8);
        .dialog-section {
            background-color: rgb(236, 236, 236);
            overflow-y: scroll;
        }
        .input-section {
            background-color: #fff;
            border-radius: 40px;
            height: 56px;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            place-self: center;
            width: calc(100% - 32px);
            .send-text-button {
                width: 32px;
                height: 32px;
                border-radius: 100px;
                background-color: #fff;
            }
            .input-text {
                height: 40px;
                border-radius: 40px;
                background-color: #fff;
                text-align: right;
                border: none;
                font-size: 14px;
                font-family: IRANSans;
            }
        }
    }
}
