.chat-panel-component2 {
    flex-direction: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .chat-wrapper2 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px;
        .dialog-section2 {
            background-color: rgb(236, 238, 238);
            overflow-y:scroll;
        }
        .input-section2 {
            font-size: 30px;
            background-color: rgba(189, 184, 184, 0.8);
            width: 100%;
            border-radius: 5px;

            
            .send-text-button2 {
                width: 90px;
                height: 50px;
                font-size: 18px;
                font-family: IRANSans;
                margin-top: 26px;
                margin-right: 10px;
                margin-left: 10px;
                background-color: rgb(51, 143, 51);
                color: #fff;
                border-radius: 6px;
            }
            input {
                width: 240px;
                height: 46px;
                font-size: 18px;
                font-family: IRANSans;
                border-radius: 6px;

            }
        }
    }
}
